<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<body>
<form th:action="/cart/pay" th:method="post">
  <div class="row" layout:fragment="content">
    <h3 class="card-title activator grey-text text-darken-4">Your 2 Movies</h3>
    <h6><span class="title" th:text="${hostName}">host</span></h6>
    <ul class="collection">
      <li class="collection-item avatar" th:each="cartItem : ${cartItems}">
        <div class="row">
          <div class="col s3 left">
            <img th:src="${cartItem.movie.posterPath}" alt="" class="circle"/>
            <span class="title" th:text="${cartItem.movie.title}">Title</span>
            <span class="title">@ $<span
              th:text="${#numbers.formatDecimal(cartItem.movie.price, 0, 'DEFAULT', 2, 'DEFAULT')}"></span></span>
          </div>
          <div class="input-field col s1 right">
            <input readonly="true" th:id="${#strings.concat(cartItem.movie.id,'--qty')}"
                   th:value="${cartItem.quantity}"/>
            <label class="active" th:for="${#strings.concat(cartItem.movie.id,'--qty')}">Quantity</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s1 right">
            <input readonly="true" th:id="${#strings.concat(cartItem.movie.id,'--total')}"
                   th:value="${#numbers.formatDecimal(cartItem.total, 0, 'DEFAULT', 2, 'DEFAULT')}"/>
            <label class="active" th:for="${#strings.concat(cartItem.movie.id,'--total')}">Total($)</label>
          </div>
        </div>
      </li>
      <br/>
      <li>
        <div class="row">
          <div class="col m2 right">
            <button class="btn waves-effect waves-light blue" type="submit" name="action">Pay
              <i class="material-icons right">payment</i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</form>
</body>
</html>
